@import url(/fonts/PFBeauSansPro-Regular.ttf);
@font-face {
  font-family: Blacker-Display;
  src: url(/fonts/Blacker-Display-Bold-trial.ttf); }

@font-face {
  font-family: BeauSansPro-Regular;
  src: url(/fonts/PFBeauSansPro-Regular.ttf); }

@font-face {
  font-family: BeauSansPro-light;
  src: url(/fonts/PFBeauSansPro-Light.ttf); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

footer, header, nav {
  display: block; }

body {
  font-family: BeauSansPro-Regular, 'Open Sans';
  font-size: 18px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px; } }

.wrapper {
  margin-top: 64px; }

.container {
  width: 1470px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px; }

h1, .h1 {
  font-family: Blacker-Display, 'Open Sans';
  font-size: 64px;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    h1, .h1 {
      font-size: 24px;
      line-height: 1.5; } }

h2, .h2 {
  font-family: Blacker-Display;
  font-size: 32px;
  line-height: 1.5;
  color: #444444; }
  @media screen and (max-width: 768px) {
    h2, .h2 {
      font-size: 18px; } }

h3, .h3 {
  font-family: BeauSansPro-light, 'Open Sans';
  font-size: 24px;
  line-height: 1.4; }
  @media screen and (max-width: 768px) {
    h3, .h3 {
      font-size: 14px; } }

p {
  font-size: 18px;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 14px; } }

li {
  list-style: none; }

a {
  color: #57F1D8; }
  a:hover, a:active, a:link, a:visited {
    color: #57F1D8; }

.gray-bg {
  background: rgba(236, 247, 245, 0.3); }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 6px;
  padding: 2px 10px 0;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: 2px solid;
  text-decoration: none;
  min-width: 200px; }
  .btn_transparent {
    background: transparent;
    border-color: #57F1D8;
    color: #0AE4BD; }
  .btn_blue {
    background: #57f1d8;
    border-color: #57f1d8;
    color: #FFF; }
  .btn_white {
    background: #FFFFFF;
    border-color: #FFFFFF;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    color: #4B594A; }
  .btn_lg {
    height: 56px; }
  .btn_md {
    height: 46px; }
  .btn_sm {
    height: 36px; }

.video-play-button {
  position: relative;
  z-index: 9;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  -webkit-box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
          box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none; }
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(87, 241, 216, 0.65);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
            animation: pulse-border 1500ms ease-out infinite; }
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .video-play-button:hover:after {
    background: #57f1d8;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .video-play-button:hover span {
    border-left: 32px solid white; }
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto; }
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    border-left: 32px solid #57f1d8;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

#page-listner {
  display: none; }

#page-listner,
#comments-controls {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    #page-listner,
    #comments-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #page-listner .prev img,
      #page-listner .next img,
      #comments-controls .prev img,
      #comments-controls .next img {
        width: 27px;
        height: 18px; } }
  #page-listner .current-slide,
  #comments-controls .current-slide {
    margin: 0 25px;
    line-height: 27px;
    font-size: 20px;
    font-weight: 600; }

#comments-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -10px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(0, 87, 76, 0.2);
    height: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .footer__content {
        height: auto;
        padding-bottom: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 40px 0; }
        .footer__content .btn {
          margin-bottom: 40px; } }
  .footer__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 768px) {
      .footer__controls {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer__controls .footer__logo {
      margin-bottom: 30px; }
    .footer__controls .btn {
      min-width: auto;
      margin-left: 30px; }
      @media screen and (max-width: 768px) {
        .footer__controls .btn {
          margin-left: 0; } }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__social li {
      margin-right: 15px;
      line-height: 0; }
      .footer__social li:last-of-type {
        margin-right: 0; }
      .footer__social li a {
        display: block; }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    color: #444444;
    font-size: 14px;
    padding-top: 4px; }

.form-connection {
  margin-bottom: 80px;
  text-align: center;
  margin-top: 100px; }
  @media screen and (max-width: 768px) {
    .form-connection {
      padding: 0 10px;
      margin-top: 60px;
      margin-bottom: 60px; } }
  .form-connection form {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px; }
    @media screen and (max-width: 768px) {
      .form-connection form {
        margin-bottom: 40px; } }
    @media screen and (max-width: 768px) {
      .form-connection form {
        width: 100%; } }
    .form-connection form .form-item:nth-of-type(1) {
      width: 50%; }
      @media screen and (max-width: 768px) {
        .form-connection form .form-item:nth-of-type(1) {
          width: 100%; } }
    .form-connection form .form-item:nth-of-type(2) {
      width: 50%; }
      @media screen and (max-width: 768px) {
        .form-connection form .form-item:nth-of-type(2) {
          width: 100%; } }
    .form-connection form .form-item:nth-of-type(3) {
      width: 100%; }
  .form-connection__info {
    color: #5D5D5D; }

.form-group {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form-item {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .form-item {
      margin-bottom: 20px; } }
  .form-item input, .form-item textarea {
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 10px 7px 10px 7px;
    font-size: 16px; }
    @media screen and (max-width: 768px) {
      .form-item input, .form-item textarea {
        font-size: 14px;
        height: 46px; } }
    .form-item input::-webkit-input-placeholder, .form-item textarea::-webkit-input-placeholder {
      color: #A4A4A4; }
    .form-item input::-moz-placeholder, .form-item textarea::-moz-placeholder {
      color: #A4A4A4; }
    .form-item input:-ms-input-placeholder, .form-item textarea:-ms-input-placeholder {
      color: #A4A4A4; }
    .form-item input::-ms-input-placeholder, .form-item textarea::-ms-input-placeholder {
      color: #A4A4A4; }
    .form-item input::placeholder, .form-item textarea::placeholder {
      color: #A4A4A4; }
  .form-item textarea {
    height: 150px; }
    @media screen and (max-width: 768px) {
      .form-item textarea {
        height: 110px; } }

.header {
  background-image: url(/img/header/header-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
  position: relative;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .header {
      margin-bottom: 60px; } }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__title {
    font-family: Blacker-Display, 'Open Sans';
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 42px;
    text-align: center;
    max-width: 940px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6); }
    @media screen and (max-width: 768px) {
      .header__title {
        font-size: 24px; } }
  .header__subtitle {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 70px;
    text-align: center;
    max-width: 500px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 768px) {
      .header__subtitle {
        font-size: 14px; } }
  .header__arrow-down {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    bottom: 34px; }

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav__logo img {
    display: block; }
    @media screen and (max-width: 768px) {
      .nav__logo img {
        width: 107px; } }
  .nav__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__controls .btn {
      margin-left: 30px; }
      @media screen and (max-width: 768px) {
        .nav__controls .btn {
          display: none; } }
    @media screen and (max-width: 768px) {
      .nav__controls .nav__tel {
        font-size: 12px; } }
  .nav__tel {
    color: #5D5D5D;
    font-size: 16px; }
  .nav__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__socials li {
      margin-left: 5px; }
      .nav__socials li a img {
        display: block; }

.section-title_center {
  text-align: center; }

.section-title__title {
  font-family: Blacker-Display, 'Open Sans';
  font-size: 32px;
  margin-bottom: 40px;
  color: #444444; }

.section-title__subtitle {
  font-size: 18px;
  margin-bottom: 40px;
  color: #5D5D5D; }

.slider-controls {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slider-controls__counter {
    font-size: 22px;
    margin: 0 20px; }
  .slider-controls__arrow {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
    .slider-controls__arrow img {
      width: 27px; }

.benefit {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px; }
  .benefit__card {
    min-width: 220px;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #444444;
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .benefit__card {
        margin-bottom: 0; } }
    .benefit__card p {
      text-align: center;
      font-size: 16px; }
  .benefit__title {
    font-weight: 600;
    text-align: center; }
  .benefit__card-img {
    height: 120px;
    margin-bottom: 20px; }
    .benefit__card-img img {
      margin: auto; }

.individual-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .individual-work {
      padding: 60px 0; } }
  .individual-work__desc {
    width: 40%; }
    @media screen and (max-width: 768px) {
      .individual-work__desc {
        width: 100%;
        margin-bottom: 40px;
        text-align: center; } }
  .individual-work__video {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .individual-work__video {
        width: 100%; } }
    .individual-work__video video {
      width: 100%;
      height: 100%; }
    .individual-work__video .video-play-button {
      position: absolute; }

.direction {
  margin-top: 150px;
  margin-bottom: 80px; }
  @media screen and (max-width: 768px) {
    .direction {
      margin-top: 60px;
      margin-bottom: 60px; } }
  .direction__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-right: -15px;
    margin-left: -15px; }
  .direction__item {
    width: 25%;
    min-width: 300px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .direction__item p {
        color: #26B899; } }
  .direction__item-img {
    margin-bottom: 20px;
    max-width: 300px;
    margin: 15px auto; }
    .direction__item-img img {
      width: 100%; }

.course-programm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .course-programm {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      padding: 60px 0; } }
  .course-programm__desc {
    width: 40%; }
    @media screen and (max-width: 768px) {
      .course-programm__desc {
        width: 100%;
        margin-bottom: 40px;
        text-align: center; }
        .course-programm__desc ul {
          -webkit-box-align: baseline !important;
              -ms-flex-align: baseline !important;
                  align-items: baseline !important; } }
  .course-programm__video {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .course-programm__video {
        width: 100%; } }
    .course-programm__video video {
      width: 100%;
      height: 100%; }
    .course-programm__video .video-play-button {
      position: absolute; }
  .course-programm__list {
    margin-bottom: 15px; }
    .course-programm__list span {
      border-bottom: 1px dashed gray; }
  .course-programm ul {
    margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .course-programm ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .course-programm ul li {
      position: relative;
      margin-bottom: 15px;
      padding-left: 25px; }
      .course-programm ul li::before {
        position: absolute;
        content: '';
        background: #FFFFFF;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 4px solid #57F1D8;
        top: 4px;
        left: 0; }

.instagram-photo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px; }
  @media screen and (max-width: 768px) {
    .instagram-photo {
      margin-top: 60px;
      margin-bottom: 60px; } }
  .instagram-photo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -5px;
    margin-bottom: 80px; }
  .instagram-photo__card {
    margin-bottom: 10px;
    width: 20%;
    padding: 0 5px;
    max-width: 270px; }
    @media screen and (max-width: 768px) {
      .instagram-photo__card {
        width: 50%; }
        .instagram-photo__card:last-of-type {
          display: none; } }
    .instagram-photo__card img {
      display: block;
      max-width: 100%;
      width: 100%; }

.online-lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .online-lesson {
      padding: 60px 0; } }
  .online-lesson__desc {
    width: 40%; }
    @media screen and (max-width: 768px) {
      .online-lesson__desc {
        width: 100%;
        margin-bottom: 40px;
        text-align: center; } }
  .online-lesson__img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .online-lesson__img {
        width: 100%; } }
    .online-lesson__img img {
      width: 100%; }

.comments {
  margin-top: 150px;
  margin-bottom: 150px; }
  @media screen and (max-width: 768px) {
    .comments {
      margin-top: 60px;
      margin-bottom: 60px; } }
  .comments .user-comment {
    text-align: center; }
    .comments .user-comment__message {
      margin-bottom: 40px;
      color: #5D5D5D; }
    .comments .user-comment__photo {
      width: 67px;
      height: 67px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto; }
      .comments .user-comment__photo img {
        width: 100%; }
    .comments .user-comment__name {
      font-size: 18px;
      margin-bottom: 15px; }
      .comments .user-comment__name:after {
        content: url("../img/comments-vk.svg");
        margin-left: 7px; }
    .comments .user-comment__course {
      font-size: 14px;
      color: #444444; }

.price {
  padding: 120px 0; }
  @media screen and (max-width: 768px) {
    .price {
      padding: 60px 0; } }
  .price .subtitle {
    margin-bottom: 70px; }
  .price h2 {
    margin-bottom: 20px; }
  .price .month-number {
    display: none; }
    @media screen and (max-width: 768px) {
      .price .month-number {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.abonements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -15px;
  margin-right: -15px; }
  .abonements__card {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 25px;
    font-family: Roboto;
    text-align: center;
    width: 25%;
    min-width: 300px;
    margin: 10px; }
    @media screen and (max-width: 768px) {
      .abonements__card {
        width: 100%; } }
    .abonements__card .btn {
      margin-top: 20px; }
  .abonements__card-month {
    margin-bottom: 33px; }
  .abonements__card-title {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .abonements__card-title {
        display: block; } }
  .abonements__card-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .abonements__card-subtitle {
        display: block; } }
  .abonements__card-dance-type {
    font-size: 14px;
    margin-bottom: 25px; }
    .abonements__card-dance-type li:not(:last-child) {
      margin-bottom: 10px; }
  .abonements__card-price {
    font-size: 28px;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .abonements__card-price {
        display: block; } }
  .abonements__card-bonus {
    color: #F87A7A;
    font-size: 12px;
    margin-bottom: 15px; }
    @media screen and (max-width: 768px) {
      .abonements__card-bonus {
        display: block; } }
  @media screen and (max-width: 1200px) {
    .abonements {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (max-width: 768px) {
    .abonements .abonements__card-month,
    .abonements .abonements__card-dance-type {
      display: none; } }

.masterclass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .masterclass {
      padding: 60px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  .masterclass__desc {
    width: 40%; }
    @media screen and (max-width: 768px) {
      .masterclass__desc {
        width: 100%;
        margin-bottom: 40px;
        text-align: center; } }
  .masterclass__img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .masterclass__img {
        width: 100%; } }
    .masterclass__img img {
      width: 100%; }

.addres-info {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .addres-info {
      padding: 70px 0;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  .addres-info__desc {
    width: 35%; }
    @media screen and (max-width: 768px) {
      .addres-info__desc {
        width: 100%; } }
  .addres-info__map {
    width: 65%;
    height: 350px; }
    @media screen and (max-width: 768px) {
      .addres-info__map {
        width: 100%;
        height: 300px; } }
  .addres-info .contacts {
    padding: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 768px) {
      .addres-info .contacts {
        width: 100%;
        padding: 0;
        margin: 0 auto; } }
    .addres-info .contacts__info {
      padding-left: 30px; }
      .addres-info .contacts__info li {
        margin-bottom: 20px;
        position: relative; }
    .addres-info .contacts__info-addres ::before {
      content: url(/img/contact-icon/geo.svg);
      position: absolute;
      top: 7px;
      left: -30px; }
    .addres-info .contacts__info-work-time ::before {
      content: url(/img/contact-icon/clock.svg);
      position: absolute;
      top: 7px;
      left: -30px; }
    .addres-info .contacts__info-call-number ::before {
      content: url(/img/contact-icon/phone-call.svg);
      position: absolute;
      top: 7px;
      left: -30px; }
    .addres-info .contacts__info-e-mail ::before {
      content: url(/img/contact-icon/mail.svg);
      position: absolute;
      top: 0;
      left: -30px; }

.main-wrapper {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 150px auto; }
  .main-wrapper .wrapp {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 40px; }
  .main-wrapper .added-wrapp {
    width: 30%; }
  .main-wrapper .card {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px; }

.content {
  padding: 40px; }
  .content p {
    margin: 40px 0; }
  .content__masterclass-img img {
    width: 100%; }
  .content__img {
    margin-right: -15px;
    margin-left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .content__img .foto-box {
      width: 50%;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 10px; }
    .content__img img {
      width: 100%; }
  .content__video {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    @media screen and (max-width: 768px) {
      .content__video {
        width: 100%; } }
    .content__video video {
      width: 100%;
      height: 100%; }
    .content__video .video-play-button {
      position: absolute; }
  .content .call-beck {
    background: #FCFCFC;
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px; }
    .content .call-beck__title {
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 600; }
    .content .call-beck .form-item {
      width: 50%; }
  .content .share-with {
    padding: 50px 0;
    margin: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 2px solid #E7E9EE;
    border-bottom: 2px solid #E7E9EE; }
    .content .share-with__title {
      font-weight: 600; }
  .content .pagination {
    margin-bottom: 40px;
    color: #C6C6C6;
    font-size: 14px; }

.inner-direction__title {
  font-weight: 600; }

.inner-direction__slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px; }

.inner-direction__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #FCFCFC;
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px; }
  .inner-direction__item img {
    width: 100%; }
