@import url(/fonts/PFBeauSansPro-Regular.ttf);
@font-face {
  font-family: Blacker-Display;
  src: url(/fonts/Blacker-Display-Bold-trial.ttf); }

@font-face {
  font-family: BeauSansPro-Regular;
  src: url(/fonts/PFBeauSansPro-Regular.ttf); }

@font-face {
  font-family: BeauSansPro-light;
  src: url(/fonts/PFBeauSansPro-Light.ttf); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

footer, header, nav {
  display: block; }

body {
  font-family: BeauSansPro-Regular, 'Open Sans';
  font-size: 18px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.container {
  width: 1470px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px; }

h1, .h1 {
  font-family: Blacker-Display, 'Open Sans';
  font-size: 64px;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    h1, .h1 {
      font-size: 24px;
      line-height: 1.5; } }

h2, .h2 {
  font-family: Blacker-Display;
  font-size: 32px;
  line-height: 1.5;
  color: #444444; }
  @media screen and (max-width: 768px) {
    h2, .h2 {
      font-size: 18px; } }

h3, .h3 {
  font-family: BeauSansPro-light, 'Open Sans';
  font-size: 24px;
  line-height: 1.4; }
  @media screen and (max-width: 768px) {
    h3, .h3 {
      font-size: 14px; } }

p {
  font-size: 18px;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 14px; } }

li {
  list-style: none; }

a {
  color: #57F1D8; }
  a:hover, a:active, a:link, a:visited {
    color: #57F1D8; }

#map {
  width: 65%;
  height: 350px;
  background-color: grey; }
  @media screen and (max-width: 768px) {
    #map {
      width: auto;
      height: 300px; } }

input, textarea {
  background: #FFFFFF;
  border: 1px solid #CECECE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 7px 10px 7px; }
  input ::-webkit-input-placeholder, textarea ::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input ::-moz-placeholder, textarea ::-moz-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input :-ms-input-placeholder, textarea :-ms-input-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input ::-ms-input-placeholder, textarea ::-ms-input-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input ::placeholder, textarea ::placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  @media screen and (max-width: 768px) {
    input, textarea {
      font-size: 14px;
      line-height: 150%; } }

.gray-bg {
  background: rgba(236, 247, 245, 0.3); }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 6px;
  padding: 2px 10px 0;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: 2px solid;
  text-decoration: none;
  min-width: 200px; }
  .btn_transparent {
    background: transparent;
    border-color: #57F1D8;
    color: #0AE4BD; }
  .btn_blue {
    background: #57f1d8;
    border-color: #57f1d8;
    color: #FFF; }
  .btn_white {
    background: #FFFFFF;
    border-color: #FFFFFF;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    color: #000; }
  .btn_lg {
    height: 56px; }
  .btn_md {
    height: 46px; }
  .btn_sm {
    height: 36px; }

.video-play-button {
  position: relative;
  z-index: 10;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  -webkit-box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
          box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(87, 241, 216, 0.65);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
            animation: pulse-border 1500ms ease-out infinite; }
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .video-play-button:hover:after {
    background: #57f1d8;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .video-play-button:hover span {
    border-left: 32px solid white; }
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto; }
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    border-left: 32px solid #57f1d8;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

#page-listner {
  display: none; }

#page-listner,
#comments-controls {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    #page-listner,
    #comments-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #page-listner .prev img,
      #page-listner .next img,
      #comments-controls .prev img,
      #comments-controls .next img {
        width: 27px;
        height: 18px; } }
  #page-listner .current-slide,
  #comments-controls .current-slide {
    margin: 0 25px;
    line-height: 27px;
    font-size: 20px;
    font-weight: 600; }

#comments-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -10px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 768px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(0, 87, 76, 0.2);
    height: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .footer__content {
        padding: 70px 30px;
        padding-bottom: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer__content .d-flex:nth-child(1) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
        .footer__content .logo {
          margin-bottom: 30px; }
        .footer__content .btn {
          margin-bottom: 40px; } }
  .footer__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__controls .btn {
      min-width: auto;
      margin-left: 30px; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__social li {
      margin-right: 15px;
      line-height: 0; }
      .footer__social li:last-of-type {
        margin-right: 0; }
      .footer__social li a {
        display: block; }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    color: #444444;
    font-size: 14px;
    padding-top: 4px; }

.form-group {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form-item {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0; }
  @media screen and (max-width: 768px) {
    .nav__logo > img {
      width: 100px; }
    .nav .btn {
      display: none; }
    .nav__controls-tel {
      font-size: 12px;
      margin-right: 8px; }
    .nav__controls-social {
      margin-right: 0; } }
  .nav__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__controls-tel {
    margin-right: 20px; }
  .nav__controls-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px; }
    .nav__controls-social li:nth-child(-n+2) {
      margin-right: 5px; }

.header__content {
  background-image: url(/img/header/header-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
  position: relative; }

.header .header-title {
  color: #fff;
  text-align: center; }
  .header .header-title__title {
    font-family: Blacker-Display, 'Open Sans';
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 42px; }
  .header .header-title__subtitle {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 70px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25); }
  .header .header-title__arrow-down {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    bottom: 0; }

.section-title__title {
  font-size: 32px; }

.section-title__subtitle {
  font-size: 18px; }

.benefit {
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .benefit__card {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .benefit__card p {
      text-align: center; }
  .benefit__card-img {
    height: 120px;
    margin-bottom: 20px; }
  @media screen and (max-width: 1200px) {
    .benefit {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .benefit__card {
        width: 35%;
        margin-bottom: 25px; } }

.individual-work {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .individual-work {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
      .individual-work .btn {
        position: absolute;
        bottom: 20px; } }
  .individual-work__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .individual-work__context .h2, .individual-work__context p {
      margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .individual-work__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .individual-work__video {
    width: 55%;
    padding: 15px; }
    .individual-work__video video {
      width: 100%;
      height: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .individual-work__video {
        height: 380px;
        position: relative;
        width: auto; } }

.direction {
  margin-bottom: 80px; }
  .direction__title h2 {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .direction__title h2 {
        margin-bottom: 15px; } }
  .direction__title p {
    margin-bottom: 55px; }
    @media screen and (max-width: 768px) {
      .direction__title p {
        margin-bottom: 20px; } }
  .direction__content {
    width: 100%; }
    @media screen and (max-width: 1100px) {
      .direction__content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .direction__content-card {
    width: 25%;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .direction__content-card .card-img {
      margin-bottom: 20px;
      max-width: 300px;
      margin: 15px auto; }
      .direction__content-card .card-img img {
        width: 100%; }
    .direction__content-card .direction-controllers {
      bottom: auto; }
    @media screen and (max-width: 1100px) {
      .direction__content-card {
        width: 45%;
        margin-bottom: 15px; } }
  @media screen and (max-width: 768px) {
    .direction #page-listner {
      bottom: -30px; } }

.course-programm {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .course-programm {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      position: relative; }
      .course-programm .btn {
        position: absolute;
        bottom: 20px; } }
  .course-programm__context-title {
    margin-left: -20px;
    margin-bottom: 20px; }
  .course-programm__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 768px) {
      .course-programm__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .course-programm__list {
    margin-bottom: 15px; }
    .course-programm__list span {
      border-bottom: 1px dashed gray; }
  .course-programm ul > li {
    position: relative;
    margin-bottom: 15px; }
    .course-programm ul > li::before {
      position: absolute;
      content: '';
      background: #FFFFFF;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 4px solid #57F1D8;
      top: 0;
      left: -20px; }
  .course-programm__video {
    width: 55%;
    padding: 15px; }
    .course-programm__video video {
      width: 100%;
      height: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .course-programm__video {
        height: 370px;
        width: auto; } }

.foto-instagram__title {
  margin-bottom: 50px; }

.foto-instagram__card {
  margin-bottom: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .foto-instagram__card img {
    max-width: 100%;
    width: 100%; }
  .foto-instagram__card :not(:last-child) {
    margin-right: 10px; }
  @media screen and (max-width: 1200px) {
    .foto-instagram__card {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .foto-instagram__card div:nth-child(n) {
        width: 30%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 10px; } }
    @media screen and (max-width: 1200px) and (max-width: 768px) {
      .foto-instagram__card div:nth-child(n) {
        width: 45%;
        margin: 5px; } }

.online-lesson {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .online-lesson {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
      .online-lesson .btn {
        position: absolute;
        bottom: 20px; } }
  .online-lesson__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .online-lesson__context .h2, .online-lesson__context p {
      margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .online-lesson__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .online-lesson__img {
    width: 55%;
    padding: 15px; }
    .online-lesson__img img {
      width: 100%; }
    @media screen and (max-width: 768px) {
      .online-lesson__img {
        width: auto; } }

.comments {
  position: relative;
  margin-bottom: 100px; }
  .comments .current-slide {
    margin: 0 10px; }
  .comments .comments-controls {
    position: absolute;
    left: 50%;
    bottom: -20px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .comments .prev,
  .comments .next {
    cursor: pointer; }
  .comments h2 {
    margin-bottom: 70px; }
  .comments p {
    margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .comments p {
        text-align: center; } }
  .comments .member {
    margin-bottom: 40px; }
  .comments .member-name {
    font-size: 18px;
    margin-bottom: 15px; }
  .comments .member-photo {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; }

.price {
  padding: 115px 0; }
  .price .subtitle {
    margin-bottom: 70px; }
  .price h2 {
    margin-bottom: 20px; }
  .price .month-number {
    display: none; }
    @media screen and (max-width: 768px) {
      .price .month-number {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.abonements div:not(:last-child) {
  margin-right: 25px; }
  @media screen and (max-width: 1200px) {
    .abonements div:not(:last-child) {
      margin: 10px; } }

.abonements__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 25px;
  font-family: Roboto; }
  @media screen and (max-width: 1200px) {
    .abonements__card {
      margin: 10px;
      width: 25%; } }
  @media screen and (max-width: 765px) {
    .abonements__card {
      margin: 10px;
      width: auto; } }

.abonements__card-month {
  margin-bottom: 33px; }

.abonements__card-title {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px; }

.abonements__card-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }

.abonements__card-dance-type {
  font-size: 14px;
  margin-bottom: 25px; }
  .abonements__card-dance-type li:not(:last-child) {
    margin-bottom: 10px; }

.abonements__card-price {
  font-size: 28px;
  font-weight: bold; }

.abonements__card-bonus {
  color: #F87A7A;
  font-size: 12px;
  margin-bottom: 15px; }

@media screen and (max-width: 1200px) {
  .abonements {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 768px) {
  .abonements .abonements__card-month,
  .abonements .abonements__card-dance-type {
    display: none; } }

.master-class {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .master-class {
      padding: 50px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      position: relative; }
      .master-class .btn {
        position: absolute;
        bottom: 20px; } }
  .master-class__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .master-class__context .h2, .master-class__context p {
      margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .master-class__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .master-class__img {
    width: 55%;
    padding: 15px; }
    .master-class__img img {
      width: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .master-class__img {
        width: auto;
        position: relative;
        top: -25px; } }

.addres-info {
  margin-bottom: 100px;
  padding: 100px 50px; }
  @media screen and (max-width: 768px) {
    .addres-info {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .addres-info .contacts {
    width: 30%;
    padding: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 768px) {
      .addres-info .contacts {
        width: auto;
        padding: 0;
        margin: 0 auto; } }
    .addres-info .contacts h2 {
      margin-bottom: 15px; }
    .addres-info .contacts__info {
      padding-left: 30px; }
      .addres-info .contacts__info li {
        margin-bottom: 20px;
        position: relative; }
    .addres-info .contacts__info-addres ::before {
      content: url(/img/contact-icon/geo.svg);
      position: absolute;
      top: 7px;
      left: -30px; }
    .addres-info .contacts__info-work-time ::before {
      content: url(/img/contact-icon/clock.svg);
      position: absolute;
      top: 7px;
      left: -30px; }
    .addres-info .contacts__info-call-number ::before {
      content: url(/img/contact-icon/phone-call.svg);
      position: absolute;
      top: 7px;
      left: -30px; }
    .addres-info .contacts__info-e-mail ::before {
      content: url(/img/contact-icon/mail.svg);
      position: absolute;
      top: 0;
      left: -30px; }

.form-connection {
  margin-bottom: 80px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .form-connection {
      padding: 0 10px; } }
  .form-connection h2 {
    margin-bottom: 20px; }
  .form-connection .subtitle {
    margin-bottom: 72px; }
  .form-connection .form {
    width: 550px; }
    @media screen and (max-width: 768px) {
      .form-connection .form {
        width: 100%; } }
  .form-connection .btn {
    margin-bottom: 80px; }
