*.btn {
  border-radius: 6px;
  padding: 12px 7px 10px 7px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 17px; }

.btn-blue {
  background: #57f1d8;
  color: #FFF; }

.btn-white {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #000; }

.btn-transparent {
  background: transparent;
  border: 2px solid #57F1D8;
  color: #0AE4BD; }

.video-play-button {
  position: relative;
  z-index: 10;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  -webkit-box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
          box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(87, 241, 216, 0.65);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
            animation: pulse-border 1500ms ease-out infinite; }
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .video-play-button:hover:after {
    background: #57f1d8;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .video-play-button:hover span {
    border-left: 32px solid white; }
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto; }
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    border-left: 32px solid #57f1d8;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1); }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

#page-listner {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #page-listner .current-slide {
    margin: 0 7px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 600; }

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 120px;
  position: relative; }
  .benefit p {
    margin-top: 20px; }
  @media screen and (max-width: 1200px) {
    .benefit {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .benefit div:nth-child(n) {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .benefit div:nth-child(n) img {
          margin: 0 auto; } }
  @media screen and (max-width: 768px) {
    .benefit #page-listner {
      bottom: -30px; } }

.individual-work {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .individual-work {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .individual-work__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .individual-work__context .h2, .individual-work__context p {
      margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .individual-work__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .individual-work__context .btn {
          position: relative;
          bottom: -250px; } }
  .individual-work__video {
    width: 55%;
    padding: 15px; }
    .individual-work__video video {
      width: 100%;
      height: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .individual-work__video {
        width: auto;
        position: relative;
        top: -25px; } }

.direction {
  margin-bottom: 80px; }
  .direction__title h2 {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .direction__title h2 {
        margin-bottom: 15px; } }
  .direction__title p {
    margin-bottom: 55px; }
    @media screen and (max-width: 768px) {
      .direction__title p {
        margin-bottom: 20px; } }
  .direction__content {
    width: 100%; }
    @media screen and (max-width: 1100px) {
      .direction__content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .direction__content-card {
    width: 25%;
    padding: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .direction__content-card .card-img {
      margin-bottom: 20px;
      max-width: 300px;
      margin: 15px auto; }
      .direction__content-card .card-img img {
        width: 100%; }
    @media screen and (max-width: 1100px) {
      .direction__content-card {
        width: 45%;
        margin-bottom: 15px; } }
  @media screen and (max-width: 768px) {
    .direction #page-listner {
      bottom: -30px; } }

.course-programm {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .course-programm {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  .course-programm__context-title {
    margin-left: -20px;
    margin-bottom: 20px; }
  .course-programm__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 768px) {
      .course-programm__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .course-programm__context .btn {
          position: relative;
          bottom: -250px; } }
  .course-programm__list {
    margin-bottom: 15px; }
    .course-programm__list span {
      border-bottom: 1px dashed gray; }
  .course-programm ul > li {
    position: relative;
    margin-bottom: 15px; }
    .course-programm ul > li::before {
      position: absolute;
      content: '';
      background: #FFFFFF;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 4px solid #57F1D8;
      top: 0;
      left: -20px; }
  .course-programm__video {
    width: 55%;
    padding: 15px; }
    .course-programm__video video {
      width: 100%;
      height: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .course-programm__video {
        width: auto;
        position: relative;
        top: -25px; } }
  .course-programm__context-btn {
    margin-left: -20px; }

.foto-instagram__title {
  margin-bottom: 50px; }

.foto-instagram__card {
  margin-bottom: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .foto-instagram__card img {
    max-width: 100%;
    width: 100%; }
  .foto-instagram__card :not(:last-child) {
    margin-right: 10px; }
  @media screen and (max-width: 1200px) {
    .foto-instagram__card {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .foto-instagram__card div:nth-child(n) {
        width: 30%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 10px; } }
    @media screen and (max-width: 1200px) and (max-width: 768px) {
      .foto-instagram__card div:nth-child(n) {
        width: 45%;
        margin: 5px; } }

.online-lesson {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .online-lesson {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .online-lesson__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .online-lesson__context .h2, .online-lesson__context p {
      margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .online-lesson__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .online-lesson__context .btn {
          position: relative;
          bottom: -250px; } }
  .online-lesson__img {
    width: 55%;
    padding: 15px; }
    .online-lesson__img img {
      width: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .online-lesson__img {
        width: auto;
        position: relative;
        top: -25px; } }

.comments {
  position: relative;
  margin-bottom: 100px; }
  .comments .current-slide {
    margin: 0 10px; }
  .comments .page-listner {
    position: absolute;
    left: 50%;
    bottom: -20px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .comments .prev,
  .comments .next {
    cursor: pointer; }
  .comments h2 {
    margin-bottom: 70px; }
  .comments p {
    margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .comments p {
        text-align: center; } }
  .comments .member {
    margin-bottom: 40px; }
  .comments .member-name {
    font-size: 18px;
    margin-bottom: 15px; }
  .comments .member-photo {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; }

.master-class {
  padding: 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .master-class {
      padding: 50px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  .master-class__context {
    width: 35%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .master-class__context .h2, .master-class__context p {
      margin-bottom: 40px; }
    @media screen and (max-width: 768px) {
      .master-class__context {
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .master-class__context .btn {
          position: relative;
          bottom: -230px; } }
  .master-class__img {
    width: 55%;
    padding: 15px; }
    .master-class__img img {
      width: 100%;
      position: relative; }
    @media screen and (max-width: 768px) {
      .master-class__img {
        width: auto;
        position: relative;
        top: -25px; } }

.addres-info {
  margin-bottom: 100px;
  padding: 100px 50px; }
  @media screen and (max-width: 768px) {
    .addres-info {
      padding: 70px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .addres-info .contacts {
    width: 30%;
    padding: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 768px) {
      .addres-info .contacts {
        width: auto;
        padding: 0;
        margin: 0 auto; } }
    .addres-info .contacts h2 {
      margin-bottom: 15px; }
    .addres-info .contacts__info {
      position: relative;
      padding-left: 30px; }
      .addres-info .contacts__info li {
        margin-bottom: 20px; }

.form-connection {
  margin-bottom: 80px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .form-connection {
      padding: 0 10px; } }
  .form-connection h2 {
    margin-bottom: 20px; }
  .form-connection .subtitle {
    margin-bottom: 72px; }
  .form-connection .form {
    width: 550px; }
    @media screen and (max-width: 768px) {
      .form-connection .form {
        width: 100%; } }
    .form-connection .form__user-data {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 30px; }
      .form-connection .form__user-data input {
        width: 48%; }
      @media screen and (max-width: 768px) {
        .form-connection .form__user-data {
          margin-bottom: 0;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .form-connection .form__user-data input {
            width: 100%;
            margin-bottom: 25px; } }
    .form-connection .form__user-comment {
      margin-bottom: 50px; }
      .form-connection .form__user-comment textarea {
        width: 100%;
        max-width: 550px;
        height: 150px; }
  .form-connection .btn {
    margin-bottom: 80px; }

@media screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer .btn {
  height: 1em; }

.footer__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 87, 76, 0.2);
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px; }
  @media screen and (max-width: 768px) {
    .footer__content {
      padding: 70px 30px;
      padding-bottom: 100px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer__content .d-flex:nth-child(1) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .footer__content .logo {
        margin-bottom: 30px; }
      .footer__content .btn {
        margin-bottom: 40px; } }

.footer__social :not(:last-child) {
  margin-right: 15px; }

.footer .date-sines {
  height: 78px; }

subtitle mb30
.month-bar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none; }
  @media screen and (max-width: 768px) {
    subtitle mb30
.month-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  subtitle mb30
.month-bar .month-bar-img {
    padding: 0 10px; }

.nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0; }
  @media screen and (max-width: 768px) {
    .nav {
      margin: 0 10px; }
      .nav .logo img {
        width: 100px; } }

.about-school {
  background-image: url(/img/header/header-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 130px; }
  .about-school__title {
    margin-bottom: 42px; }
  .about-school__subtitle {
    margin-bottom: 71px; }
    @media screen and (max-width: 768px) {
      .about-school__subtitle {
        margin-bottom: 70px; } }
  .about-school .icon-slide-down {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    bottom: 10px; }

.social-img {
  margin-right: 4px;
  padding-top: 2px;
  border-radius: 2px; }

.tel-number {
  margin-right: 7px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-center {
  text-align: center; }

.p-relative {
  position: relative; }

.ml3 {
  margin-left: 30px; }

.mb15 {
  margin-bottom: 150px; }
  @media screen and (max-width: 768px) {
    .mb15 {
      margin-bottom: 70px; } }

.mb3 {
  margin-bottom: 30px; }

.p15 {
  padding-top: 150px; }

.gray-bg {
  background: rgba(236, 247, 245, 0.3); }

.w20 {
  width: 200px; }

.w24 {
  width: 240px; }

@media screen and (max-width: 768px) {
  .d-none-w768 {
    display: none; } }

@import url(/fonts/PFBeauSansPro-Regular.ttf);
@font-face {
  font-family: Blacker-Display;
  src: url(/fonts/Blacker-Display-Bold-trial.ttf); }

@font-face {
  font-family: BeauSansPro-Regular;
  src: url(/fonts/PFBeauSansPro-Regular.ttf); }

@font-face {
  font-family: BeauSansPro-light;
  src: url(/fonts/PFBeauSansPro-Light.ttf); }

* {
  margin: 0;
  padding: 0; }

.wrapper {
  font-family: BeauSansPro-Regular, 'Open Sans';
  font-size: 14px; }

h1, .h1 {
  font-family: Blacker-Display, 'Open Sans';
  font-size: 64px;
  line-height: 125%; }
  @media screen and (max-width: 768px) {
    h1, .h1 {
      font-size: 24px;
      line-height: 145%; } }

h2, .h2 {
  font-family: Blacker-Display;
  font-size: 32px;
  line-height: 150%;
  color: #444444; }
  @media screen and (max-width: 768px) {
    h2, .h2 {
      font-size: 18px;
      line-height: 140%; } }

h3, .h3 {
  font-family: BeauSansPro-light, 'Open Sans';
  font-size: 24px;
  line-height: 140.62%; }
  @media screen and (max-width: 768px) {
    h3, .h3 {
      font-size: 14px;
      line-height: 140%; } }

p {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 14px;
      line-height: 150%; } }

li {
  list-style: none; }

.container {
  width: 1410px;
  max-width: 100%;
  margin: 0 auto; }

#map {
  width: 65%;
  height: 350px;
  background-color: grey; }
  @media screen and (max-width: 768px) {
    #map {
      width: auto;
      height: 300px; } }

input, textarea {
  background: #FFFFFF;
  border: 1px solid #CECECE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 7px 10px 7px; }
  input ::-webkit-input-placeholder, textarea ::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input ::-moz-placeholder, textarea ::-moz-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input :-ms-input-placeholder, textarea :-ms-input-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input ::-ms-input-placeholder, textarea ::-ms-input-placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  input ::placeholder, textarea ::placeholder {
    font-size: 16px;
    line-height: 140.62%;
    color: #A4A4A4; }
  @media screen and (max-width: 768px) {
    input, textarea {
      font-size: 14px;
      line-height: 150%; } }

.price {
  padding: 115px 0; }
  .price .subtitle {
    margin-bottom: 70px; }
  .price h2 {
    margin-bottom: 20px; }

.abonements div:not(:last-child) {
  margin-right: 25px; }
  @media screen and (max-width: 1200px) {
    .abonements div:not(:last-child) {
      margin: 10px; } }

.abonements__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 25px;
  font-family: Roboto; }
  @media screen and (max-width: 1200px) {
    .abonements__card {
      margin: 10px;
      width: 25%; } }

.abonements__card-month {
  margin-bottom: 33px; }

.abonements__card-title {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 20px; }

.abonements__card-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }

.abonements__card-dance-type {
  font-size: 14px;
  margin-bottom: 25px; }
  .abonements__card-dance-type li:not(:last-child) {
    margin-bottom: 10px; }

.abonements__card-price {
  font-size: 28px;
  font-weight: bold; }

.abonements__card-bonus {
  color: #F87A7A;
  font-size: 12px;
  margin-bottom: 15px; }

@media screen and (max-width: 1200px) {
  .abonements {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
