.section-title {
  &_center {
    text-align: center;
  }

  &__title {
    font-family: Blacker-Display, 'Open Sans';
    font-size: 32px;
    margin-bottom: 40px;
    color: #444444;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
    color: #5D5D5D;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
}

