.benefit {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  padding-top: 130px;

  @media screen and (max-width: 768px) {
    padding-top: 60px;
  }

  &__card {
    min-width: 220px;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444444;
    margin-bottom: 60px;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }

    p {
      text-align: center;
      font-size: 16px;
    }
  }

  &__title {
    font-weight: 600;
    text-align: center;
  }

  &__card-img {
    height: 120px;
    margin-bottom: 20px;

    img {
      margin: auto;
    }
  }
}

.direction {
  margin-top: 150px;
  margin-bottom: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-right: -15px;
    margin-left: -15px;

    @media screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__item {
    width: 25%;
    min-width: 300px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 768px) {
      p {
        color: #26B899;
      }
    }
  }

  &__item-img {
    margin-bottom: 20px;
    max-width: 300px;
    margin: 15px auto;

    img {
      width: 100%;
    }
  }
}

.instagram-photo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -5px;
    margin-bottom: 80px;
  }

  &__card {
    margin-bottom: 10px;
    width: 20%;
    padding: 0 5px;
    max-width: 270px;

    @media screen and (max-width: 768px) {
      width: 50%;

      &:last-of-type {
        display: none;
      }
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
}

.comments {
  margin-top: 150px;
  margin-bottom: 150px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .user-comment {
    text-align: center;

    &__message {
      margin-bottom: 40px;
      color: #5D5D5D;
    }

    &__photo {
      width: 67px;
      height: 67px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 100%;
      }
    }

    &__name {
      font-size: 18px;
      margin-bottom: 15px;

      &_vk {
        &:after {
          content: url('../img/comments-vk.svg');
          margin-left: 7px;
        }
      }

      &_ig {
        &:after {
          content: url('../img/comments-ig.svg');
          margin-left: 7px;
        }
      }

      &_fb {
        &:after {
          content: url('../img/comments-fb.svg');
          margin-left: 7px;
        }
      }
    }

    &__course {
      font-size: 14px;
      color: #444444;
    }
  }
}

.price {
  padding: 120px 0;
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }

  .subtitle {
    margin-bottom: 70px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .month-number {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      &__img {
        opacity: 0.35;
        margin: 0 8px;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}

.abonements-toggler {
  border: 2px solid #57F1D8;
  border-radius: 6px;
  padding: 5px;
  display: inline-flex;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    width: 100%;

    button {
      min-width: 50%;
      letter-spacing: 0;
      font-size: 13px;
    }
  }

  button:not(.active) {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #57F1D8;
  }
}

.abonements {
  display: none;

  &.active {
    display: flex;
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  &__card {
    width: 25%;
    min-width: 330px;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__inner {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 25px;
    text-align: center;
    min-width: 300px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .btn {
      margin-top: 20px;
    }
  }

  &__card-month {
    margin-bottom: 33px;
  }

  &__card-title{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__card-subtitle{
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__card-dance-type{
    font-size: 14px;
    margin-bottom: 25px;
    
      li:not(:last-child) {
        margin-bottom: 10px;
      }
  }

  &__card-price{
    font-size: 28px;
    font-weight: bold;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__card-bonus{
    color: #F87A7A;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: normal;
    min-height: 18px;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .abonements__card-month,
    .abonements__card-dance-type {
      display: none;
    }
  }
}

.masterclass {
  display: flex;
  flex-wrap: wrap;
  padding: 120px 0;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding: 60px 0;
    flex-direction: column-reverse;
  }

  & > .btn {
    display: none;

    @media screen and (max-width: 768px) {
      display: inherit;
      margin: 36px auto 0;
    }
  }

  &__desc {
    width: 40%;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;

      .btn {
        display: none;
      }
    }
  }

  &__img {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 768px){
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

.addres-info {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding: 70px 0;
    justify-content: flex-start;
  }

  &__desc {
    width: 35%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__map {
    width: 65%;
    height: 350px;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 300px;
    }
  }

  .contacts {
    padding: 15px;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }

    &__info {
      padding-left: 30px;

      li {
        margin-bottom: 20px;
        position: relative;
      }
    }

    &__info-addres {
      ::before {
        content: url(../img/contact-icon/geo.svg);
        position: absolute;
        top: 7px;
        left: -30px;
      }
    }

    &__info-work-time {
      ::before {
        content: url(../img/contact-icon/clock.svg);
        position: absolute;
        top: 7px;
        left: -30px;
      }
    }

    &__info-call-number {
      ::before {
        content: url(../img/contact-icon/phone-call.svg);
        position: absolute;
        top: 7px;
        left: -30px;
      }
    }

    &__info-e-mail {
      ::before {
        content: url(../img/contact-icon/mail.svg);
        position: absolute;
        top: 0;
        left: -30px;
      }
    }
  }
}