.container_with-aside {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  margin-bottom: 100px;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .main {
    width: calc(100% - 460px);
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .aside {
    width: 410px;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.content {
  padding: 40px;

  @media screen and (max-width: 768px) {
    padding: 30px 15px;
  }

  img { 
    width: 100%;
  }

  p {
    margin: 40px 0;
  }

  &__imgs-group {
    display: flex;

    img {
      width: calc(50% - 25px);

      @media screen and (max-width: 768px) {
        width: calc(50% - 10px);
      }
    }

    img:first-child {
      margin-right: 50px;

      @media screen and (max-width: 768px) {
        margin-right: 10px;
      }
    }
  }

  &__video {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 768px){
      width: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      min-height: 200px;
    }

    .video-play-button {
      position: absolute;
    }
  }

  .call-beck {
    background: #FCFCFC;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px;

    @media screen and (max-width: 768px) {
      padding: 50px 15px;
    }
  
    &__title {
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 600;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .form-group {
      margin-bottom: 30px;

      .form-item {
        width: 50%;
  
        @media screen and (max-width: 768px) {
          width: 100%;
          max-width: 500px;
          margin: 10px auto;
        }
      }
    }
  }
  
  .share-with {
    padding: 50px 0;
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid #E7E9EE;
    border-bottom: 2px solid #E7E9EE;
  
    &__title {
      font-weight: 600;

      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .footer__social {
      @media screen and (max-width: 768px) {
        li {
          margin-right: 7px;
        }
      }
    }
  }

  .pagination {
    margin-bottom: 40px;
  }
}

.more-info {
  padding: 40px 25px;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    padding: 30px 15px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__direction_slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FCFCFC;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  &__direction-content {
    text-align: center;
    padding: 20px 15px;
    font-weight: 600;
  }

  &__service-content {
    padding: 15px 10px;
    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 144%;
      margin-bottom: 25px;
    }

    p {
      font-style: 16px;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    a {
      font-style: 14px;
      text-decoration: none;
    }
  }
}