.btn {
  display: inline-flex;
  border-radius: 6px;
  padding: 2px 10px 0;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: 2px solid;
  text-decoration: none;
  min-width: 200px;

  &_transparent {
    background: transparent;
    border-color: #57F1D8;
    color: #0AE4BD;
  }

  &_blue {
    background: #57f1d8;
    border-color: #57f1d8;
    color: #FFF;
  }

  &_white {
    background: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    color: #000;
  }

  &_lg {
    height: 56px;
  }

  &_md {
    height: 46px;
  }

  &_sm {
    height: 36px;
  }
}

// Video play btn
.video-play-button {
  position: relative;
  z-index: 10;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  box-shadow: 0 0px 30px rgba(87, 241, 216, 0.5);
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);


  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(87, 241, 216, 0.65);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    transition: all 200ms;
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover {

    &:after {
      background: rgb(87, 241, 216);
      transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    span {
      border-left: 32px solid white;
    }
  }

  img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    transform: scale(0.8);
    border-left: 32px solid rgb(87, 241, 216);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

// slider controller
#page-listner {
  display: none;
}

#page-listner,
#comments-controls {
  position: absolute;
  display: none;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  align-items: center;

  @media screen and (max-width: 768px) {
    display: flex;

    .prev,
    .next {
      img {
        width: 27px;
        height: 18px;
      }
    }
  }

  .current-slide {
    margin: 0 25px;
    line-height: 27px;
    font-size: 20px;
    font-weight: 600;
  }
}

#comments-controls {
  display: flex;
  bottom: -10px;
}


