.form-group {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}

.form-item {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }

  input, textarea {
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 10px 7px 10px 7px;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      height: 46px;
    }

    &::placeholder {
      color: #A4A4A4;
    }
  }

  textarea {
    height: 150px;

    @media screen and (max-width: 768px) {
      height: 110px;
    }
  }
}